/*/////////////STYLESHEET//////////////*/


html {
  box-sizing: border-box;
	background-color: #FF9769;
	color: ghostwhite;
	margin: 0 auto;
}
*, :before, :after {
  box-sizing: inherit; 
}

a:link {
	color: ghostwhite;
	text-decoration: none;
}
a:visited {
	color: ghostwhite;
}
a:hover {
	color: ghostwhite;
}

/*------------ Title/Header -----------*/
.title {
	position: fixed;
	background-color: #FF9769;
	z-index: 1;
	width: 101%;
	font-family: 'Sanchez', serif;
	font-size: 130%;
	margin-left: -1%;
	margin-top: -.8em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: .03px solid ghostwhite;
}
.title2 {
	background-color: white;
	border-bottom: .03px solid lightgray;
}
.title3 {
	background-color: #ACD6D6;
}

.home {
	margin-left: 0%;
}
a.home:visited {
	color:deepskyblue;
	text-decoration: underline;
}

.project {
	margin-left: 15%;
}
.contact {
	margin-left: 16%;
}




/*---------------- Index --------------*/
.navcurrent {
	text-decoration: underline;
}
.book {
	position: absolute;
	height: 45em;
	width: 35em;
	margin-top: 4.5%;
	margin-left: -1%;
	background-image:url(images/plant.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.helloiam {
	font-size: 340%;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 5% ;
	margin: 25% 0% 0% 62%;
	background-color: none;
	border: none;
}


/*label animation*/
.switch {
	font-size: 340%;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 1 ;
	position: absolute;
	margin-top: 36.3%;
	margin-left: 61%;
	height: 1em;
	width: 5em;
	overflow: hidden;
	border: solid .02em none
}
.designertxt {
	margin-top: -.54%;
	animation-name: switch;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes switch {
	0%   {margin-top:-.54%;}
  25%  {margin-top:-20.9%;}
  50%  {margin-top:-37.8%;}
  75%  {margin-top:-60.9%;}
	100% {margin-top:-.54%;}
}






/*---------------- Projects --------------*/
.gallery {
	position: relative;
	height: 18em;
	margin-left: 4.5em;
	margin-top: 10em;
}
.project1 {
	background-image:url(images/books.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
}
.project2 {
	background-image:url(images/portrait.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
.project3 {
	background-image:url(images/typeface.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}







/*---------------- Contact --------------*/
.headshot {
	margin-top: 15em;
	height: 18em;
	background-image:url(images/headshot.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	position: relative;
	z-index: -1;
}
.rotate {
	transform: rotate(270deg);
}
.contact_info {
	margin-top: 9em;
	margin-left: -2em;
	font-size: 200%;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 130% ;
	z-index: 1;
}

/*<<<-----------GRID TEMPLATE------------>>>-*/

/*-- container for all the columns --*/
.grid-container{
  width: 100%; 
  margin: auto;
	position: relative; /* this is needed for any children to use position absolute */
}
/****** Template *******/
*, :before, :after {
  box-sizing: inherit; 
}

/*-- container for all the columns --*/
.grid-container{
  width: auto; 
	position: relative; /* this is needed for any children to use position absolute */
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  width: 8.33%; 
    
}

/*-- columns with different widths --*/
.col-1{ width: 8.333333%; }
.col-2{ width: 16.666666%; }
.col-3{ width: 25%;    }
.col-4{ width: 33.333333%; }
.col-5{ width: 41.666667%; }
.col-6{ width: 50%; }
.col-7{ width: 58.333333%; }
.col-8{ width: 66.666666%; }
.col-9{ width: 75%; }
.col-10{ width: 83.333333%; }
.col-11{ width: 91.666667%; }
.col-12{ width: 100%;   }

/*-- use thse to offset columns --*/
.col-offset-half { margin-left: 4.333333%; }
.col-offset-1 { margin-left: 8.333333%; }
.col-offset-2 { margin-left: 16.666666%; }
.col-offset-3 { margin-left: 25%; }
.col-offset-4 { margin-left: 33.333333%; }
.col-offset-5 { margin-left: 41.666667%; }
.col-offset-6 { margin-left: 50%; }
.col-offset-7 { margin-left: 58.333333%; }
.col-offset-8 { margin-left: 66.666666%; }
.col-offset-9 { margin-left: 75%; }
.col-offset-10 { margin-left: 83.333333%; }
.col-offset-11 { margin-left: 91.666667%; }
